@font-face {
	font-family: 'Geomanist';
	src: url('fonts/Geomanist-Light.ttf');
	src: format('truetype');
}

body {
font-family: 'Geomanist', Helvetica, sans-serif;
font-size: 18px;
line-height: 1.44444;
height: 100%;
width: 100%;
margin: 0;
padding: 0;
background-color: #fff;
color: #3e3e3e;

}

/*.........navigation...........*/

ul.nav__list {
    list-style-type: none;
    margin-right: 20px;
    padding: 20px;
    overflow: hidden;
    text-align: right;
    margin-top: 0;
    
   
}

ul.nav__list li {
    display: inline-block;
    background-color: #538b5d;
    border-radius: 3px;

}

ul.nav__list li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: .06em;
    text-transform: uppercase;
    border-radius: 5px;

}

.border {
    position: relative;
}


ul.nav__list li a::before,
ul.nav__list li a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

ul.nav__list li a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

ul.nav__list li a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

ul.nav__list li a:hover::before,
ul.nav__list li a:hover::after,
ul.nav__list li a:focus::before,
ul.nav__list li a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

.global-nav-container {
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}



/*...........Introduction...........*/
section {
    padding-bottom: 50px;
    padding-top: 50px;
}

.page-container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    font-weight: 100;
    padding: 20px;
    box-sizing: border-box;

}
/*.......................logo........................*/
section.banner {
    padding-top: 0;
}

.dswt-banner img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.dswt-logo {
    float: left;
    padding-right: 40px;
}

.dswt-title {
    font-family: 'Tangerine', cursive;
    font-size: 85px;
    color: #538b5d;
    font-weight: 500;
    padding: 80px 0;
    text-align: center;
}

.dswt-text {
    font-family: 'Tangerine', cursive;
    font-size: 35px;
    color: #3e3e3e;
    font-weight: 300;
    text-align: left;
    max-height: 140px;

}

.protect {
    font-family: 'Tangerine', cursive;
    font-size: 30px;
    color: #3e3e3e;
    text-align: right;
 
}

/*.......................foster programme........................*/

.adopt-pgm {
    text-align: center;
    font-size: 25px;
    padding-top: 75px;
    padding-bottom: 30px;
    border-top: 1px solid #98c19a;
}

.adopt-info {
    padding: 30px 0;
}


.adoption-docs {
    position:relative;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    text-align: justify;
    font-size: 0;
    padding: 45px 60px;
}


.docs-img {
    display: inline-block;
    box-shadow: 0 10px 6px -6px #aaa;
    position: relative;
    overflow: hidden;
    transition: border-bottom-right-radius 1s, box-shadow .8s, transform 1s;
}

.docs-img:after {
    position: absolute;
    bottom: 0px;
    right: -10px;
    width: 0px;
    height: 0px;
    content: "";
    background-color: #E7E7E7;
    box-shadow: -5px -5px 30px 2px #000;
    transform: skew(7deg);
    transition: width 1s, height 1s;
  }

  .docs-img:hover {
    border-bottom-right-radius: 43px;
    box-shadow: 3px 3px 20px 2px #aaa;
    transform: skew(-1deg);
}

.docs-img:hover:after {
    width: 38px;
    height: 30px;
    border-top-left-radius: 1px;

}

.adoption-docs::after {
    content: "";
    display: inline-block;
    width: 100%;
}


/*.......................slide show........................*/

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
  }
}

.stage {

    margin: 1em auto;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    perspective: 1200px;
    padding-left: 35%;
    height: 160px;
}

@media screen and (min-width: 1141px) {
#spinner {
  -webkit-animation-name: spinner;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 20s;
  -webkit-transform-style: preserve-3d;
-webkit-transform-origin: 180px 0 0;
}
}

#spinner:hover {
  -webkit-animation-play-state: paused;
}

#spinner img {
  position: absolute;
  border: 1px solid #ccc;
  background: rgba(255,255,255,0.8);
  box-shadow: inset 0 0 20px rgba(0,0,0,0.2);
}

.foster-intro {
    text-align: center;
}

.foster-title {
    font-size: 55px;
    padding-bottom: 100px;
    font-family: 'Tangerine', cursive;
    color: #538b5d;
    font-weight: 500;
    text-align: center;
    letter-spacing: 2px;
}

.foster-elephant {
    font-family: 'Tangerine', cursive;
    font-size: 35px;
    color: #3e3e3e;
    font-weight: 300;
    padding: 180px 0 50px 0;
    text-align: center;
    max-height: 140px;

}

.link {
    text-align: center;

}

.dswt-link {
    display: inline-block;
    padding-top: 60px;
    text-decoration: none;
    -moz-transition: 1s all;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
    
    
}

.dswt-link:link, .dswt-link:visited{
    color: #3e3e3e;
}

.dswt-link:hover {
    color: #538b5d;
    letter-spacing: .3em;
    -moz-transition: 0.1s color, 1s letter-spacing;
    -webkit-transition: 0.1s color, 1s letter-spacing; 
    -o-transition: 0.1s color, 1s letter-spacing;
    transition: 0.1s color, 1s letter-spacing;   /*all*/

    
}


/*.......................footer........................*/


footer {
position: relative;
height: auto;
width: 100%;
background: #538b5d;
}

.outer {
    padding: 12px 0;
}
footer .wrap {
    margin: 0 auto;
    white-space: nowrap;
    font-size: 0;
}
footer .wrap .sub {
    position: relative;
    display: inline-block;
    color: white;
    width: 20%;
    padding: 27px 10px;
    border-right: 1px solid #e9e4db;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    vertical-align: top;
}

footer .wrap .sub:last-child {
    border: 0px;
}

#logo {
    width: 100px;
}

#github-icon {
    padding-bottom: 8px;
}


@media screen and (max-width: 1140px) {
    div.mobile.stage #spinner  img {
    position: static!important;
    display: inline-block!important;
    width: 50%;
    -webkit-transform: rotateY(0deg)!important;
    padding: 0!important;
    border: none;
    height: auto;
   }

 div.mobile.stage #spinner,
 div.mobile.stage {
    -webkit-transform: rotateY(0deg)!important;
    padding:0;
    margin:0;
    font-size: 0;
     position: static!important;
}

.stage {
    height: auto;
}

    footer .wrap {
        white-space: normal;
    }

    footer .wrap .sub {
          width: 33%;
    }
}

@media screen and (max-width: 760px)  {
    .adoption-docs {
        text-align: center!important;
    }

    .adopt-pgm {
        border: none;
    }
    .docs-img {
    padding-bottom: 10px;
    padding-right: 10px;
    box-shadow: none;
    }
}

@media screen and (max-width: 520px)  {

.dswt-text {
    padding-bottom: 100px;
}

    footer .wrap .sub {
         width: 100%;
         border: none;

    }   
    footer .wrap .sub::after {
        content: "";
        width: 50%;
        height: 1px;
        background-color: #e9e4db;
        display: block;
        margin: auto;
        position: relative;
        top: 27px;
    }

    footer .wrap .sub:last-child::after, footer .wrap .sub:first-child::after{
        height: 0;
    }

  }


  @media screen and (max-width: 746px)  {

    ol.horizontal-timeline li {
         text-align: center;
    }   

    .evolution {
        text-align: center;
    }

    .item-2, .item-1  {
        width: 100%;
  }

@media screen and (max-width: 450px)  {
    .dswt-text {
        padding-bottom: 50px;
    }

    .dswt-link {
        padding-top: 150px;
    }
}

