
@font-face {
	font-family: 'Geomanist';
	src: url('fonts/Geomanist-Light.ttf');
	src: format('truetype');
}

body {
font-family: 'Geomanist', Helvetica, sans-serif;
font-size: 18px;
line-height: 1.44444;
height: 100%;
width: 100%;
margin: 0;
padding: 0;
background-color: #fff;
color: #3e3e3e;

}

section {
    padding-bottom: 50px;
    padding-top: 50px;
}

.page-container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    font-weight: 100;
    padding: 20px;
    box-sizing: border-box;

}

/*.........navigation...........*/


ul.nav__list {
    list-style-type: none;
    margin-right: 20px;
    padding: 20px;
    overflow: hidden;
    text-align: right;
    margin-top: 0;
    
   
}

ul.nav__list li {
    display: inline-block;
    background-color: rgba(62, 62, 62, 0.85);
    border-radius: 3px;

}

ul.nav__list li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: .06em;
    text-transform: uppercase;
    border-radius: 5px;

}

.border {
    position: relative;
}


ul.nav__list li a::before,
ul.nav__list li a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

ul.nav__list li a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

ul.nav__list li a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

ul.nav__list li a:hover::before,
ul.nav__list li a:hover::after,
ul.nav__list li a:focus::before,
ul.nav__list li a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

.global-nav-container {
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/*.......................gallery........................*/

.dswt-title {
    font-family: 'Tangerine', cursive;
    font-size: 85px;
    color: #538b5d;
    font-weight: 500;
    padding: 80px 0;
    text-align: center;
}

.dswt-text {
    font-family: 'Tangerine', cursive;
    font-size: 35px;
    color: #3e3e3e;
    font-weight: 100;
    text-align: left;
    max-height: 140px;
}

.gallery {
display: block;
text-align: center;
margin-bottom: 50px;
}

.gallery-intro {
    text-align: center; 
}

.gallery .photo {
display: inline-block;
padding: 20px;
}

.gallery .photo img {
    width: 150px;
    padding-top: 50px;
}




/*.......................footer........................*/


footer {
position: relative;
height: auto;
width: 100%;
background: #3e3e3e;
}

.outer {
    padding: 12px 0;
}
footer .wrap {
    margin: 0 auto;
    white-space: nowrap;
    font-size: 0;
}
footer .wrap .sub {
    position: relative;
    display: inline-block;
    color: white;
    width: 20%;
    padding: 27px 10px;
    border-right: 1px solid #e9e4db;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    vertical-align: top;
}

footer .wrap .sub:last-child {
    border: 0px;
}

#logo {
    width: 100px;
}

#github-icon {
    padding-bottom: 8px;
}


@media screen and (max-width: 1140px) {
    footer .wrap {
        white-space: normal;
    }

    footer .wrap .sub {
          width: 33%;
    }
}

@media screen and (max-width: 520px)  {


    footer .wrap .sub {
         width: 100%;
         border: none;

    }   
    footer .wrap .sub::after {
        content: "";
        width: 50%;
        height: 1px;
        background-color: #e9e4db;
        display: block;
        margin: auto;
        position: relative;
        top: 27px;
    }

    footer .wrap .sub:last-child::after, footer .wrap .sub:first-child::after{
        height: 0;
    }

  }
