
@font-face {
	font-family: 'Geomanist';
	src: url('fonts/Geomanist-Light.ttf');
	src: format('truetype');
}

body {
font-family: 'Geomanist', Helvetica, sans-serif;
font-size: 18px;
line-height: 1.44444;
height: 100%;
width: 100%;
margin: 0;
padding: 0;
background-color: #fff;
color: #3e3e3e;

}

/*.........navigation...........*/

ul.nav__list {
    list-style-type: none;
    margin-right: 20px;
    padding: 20px;
    overflow: hidden;
    text-align: right;
    margin-top: 0;
    
   
}

ul.nav__list li {
    display: inline-block;
    background-color: rgba(195, 51, 56, 0.88);
    border-radius: 3px;

}

ul.nav__list li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: .06em;
    text-transform: uppercase;
    border-radius: 5px;

}

.border {
    position: relative;
}


ul.nav__list li a::before,
ul.nav__list li a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

ul.nav__list li a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

ul.nav__list li a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

ul.nav__list li a:hover::before,
ul.nav__list li a:hover::after,
ul.nav__list li a:focus::before,
ul.nav__list li a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

.global-nav-container {
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/*...........Introduction...........*/
section {
    padding-bottom: 50px;
    padding-top: 50px;
}

.page-container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    font-weight: 100;
    padding: 20px;
    box-sizing: border-box;

}

/*......................news banner .......................*/

section.banner {
    padding-top: 0;
}

.news-banner img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

/*......................news & events .......................*/

.box {
    width: 50%;
    display: inline-block;
    box-sizing: border-box;
    padding-bottom: 15px;
    text-align: left;
    vertical-align: top;
    color: #3e3e3e;
    font-size: 15px;
}

.title {
    font-weight: 500;
    margin: 0;
    border-bottom: 1px solid #eaeaea; 
    font-size: 20px;
    color: #c33338;
}

.left {
    padding-right: 40px;
}

.inner-box {
    min-height: 
}

.info {
    position: relative;
}

.news-img {
    padding-top: 20px;
}

.news .info a  {
    padding: 20px 0;
}

.news-title {
    padding: 0;
    margin: 0;
}


.events-img, .news-img {
    margin: 0px 10px 0px 0px;
    position: absolute;
    top: 0;
    left: 0;
}

.events .info a, .news .info a {
    display: block;
    padding-left: 10px;
}

.events .info, .news .info {
padding-left: 100px;
font-weight: 100;
line-height: 170%;
padding-bottom: 20px;
border-bottom: 1px solid #eaeaea;

}

.events a, .news a {
    text-decoration: none;
}

.events a:link, a:visited,
.news a:link, a:visited {
    color: #3e3e3e;
}

.events a:hover,
.news a:hover {
    color:#1380a1;
}


.events-banner {
    width: 100%;

}

h3.event-title {
    text-transform: uppercase;
    font-weight: 300;
}

h3.event-title a {
    padding-bottom: 20px;
}

.info .events-banner {
    padding-top: 20px;
    padding-bottom: 16px;
}

/*.......................footer........................*/


footer {
position: relative;
height: auto;
width: 100%;
background: #c33338;
}

.outer {
    padding: 12px 0;
}
footer .wrap {
    margin: 0 auto;
    white-space: nowrap;
    font-size: 0;
}
footer .wrap .sub {
    position: relative;
    display: inline-block;
    color: white;
    width: 20%;
    padding: 27px 10px;
    border-right: 1px solid #e9e4db;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    vertical-align: top;
}

footer .wrap .sub:last-child {
    border: 0px;
}

#logo {
    width: 100px;
}

#github-icon {
    padding-bottom: 8px;
}


@media screen and (max-width: 1140px) {
    footer .wrap {
        white-space: normal;
    }

    footer .wrap .sub {
          width: 33%;
    }
}

@media screen and (max-width: 520px)  {

    footer .wrap .sub {
         width: 100%;
         border: none;

    }   
    footer .wrap .sub::after {
        content: "";
        width: 50%;
        height: 1px;
        background-color: #e9e4db;
        display: block;
        margin: auto;
        position: relative;
        top: 27px;
    }

    footer .wrap .sub:last-child::after, footer .wrap .sub:first-child::after{
        height: 0;
    }

  }

  @media screen and (max-width: 746px)  {

    ol.horizontal-timeline li {
         text-align: center;
    }   

    .evolution {
        text-align: center;
    }

    .item-2, .item-1  {
        width: 100%;
  }
}
