
@font-face {
	font-family: 'Geomanist';
	src: url('fonts/Geomanist-Light.ttf');
	src: format('truetype');
}

body {
font-family: 'Geomanist', Helvetica, sans-serif;
font-size: 18px;
line-height: 1.44444;
height: 100%;
width: 100%;
margin: 0;
padding: 0;
background-color: #fff;
color: #3e3e3e;

}

/*.........navigation...........*/

ul.nav__list {
    list-style-type: none;
    margin-right: 20px;
    padding: 20px;
    overflow: hidden;
    text-align: right;
    margin-top: 0;
   
}

ul.nav__list li {
    display: inline-block;
}

ul.nav__list li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 7px;
    margin-left: 18px;
    text-decoration: none;
    letter-spacing: .06em;

}

.border {
    position: relative;
}

.border:hover::after{
    content:'';
    position:absolute;
    width: 100%;
    height: 0;    
    left:0;
    bottom: 0px; /*Change this to increase/decrease distance*/
    border-bottom: 2px solid #ab8f61;  
}

.global-nav-container {
    margin: auto;
    background-image: url("../img/bg-1.jpg");
    height: 1000px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*...........Introduction...........*/
section {
    padding-bottom: 50px;
    padding-top: 50px;
}

.page-container {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
    font-weight: 100;
    padding: 20px;
    box-sizing: border-box;

}

.intro {
   
    font-size: 24px;
    font-weight: 100;
    margin: 0 auto;
    padding-top: 100px;
    font-weight: 100;


}

.intro > p {
    line-height: 1.75;
    letter-spacing: 1.5px;
   
}

.intro > p strong {
    color: #ab8f61;
    fill: #ab8f61;
}

/*..................slide..................*/


.slide-slow {
    position: relative;
}

.slide-slow p {
    line-height: 1.5;
    letter-spacing: 1px;
    margin-right: 30px;
   
}

.slide-head  {
    border-top: 1px solid #ab8f61;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .26em;
    margin-bottom: 22px;
    padding-top: 28px;
    margin-right: 30px;
    margin-top:0;

}

.info-list {
    padding-left: 0px;
}

.item-1, 
.item-2 {
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    top: 1.5em;
    left: -1000000000px;
    width: 50%;
    font-size: 1em;
    -webkit-animation-delay: 1s;
    -webkit-animation-duration: 10s; 
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    animation-duration: 10s;
    animation-timing-function: ease-in-out;
}

.item-1{
    animation-name: anim-1;
}

.item-2{
    animation-name: anim-2;
}

@keyframes anim-1 {
0%, 33.33% { left: -30%; opacity: 0; }
66.66%, 100% { left: 0%; opacity: 1; }
}

@keyframes anim-2 {
0%, 8.3% { left: -50%; opacity: 0; }
33.33%, 100% { left: 0%; opacity: 1; }
}

/*..............map.....................*/


.info-map {
   text-align: center;

}

.info-map > div {
   text-align: left;

}

.info-map img {
    width: 100%;
}

/*..............timeline.....................*/

.evolution-click {
    text-align: center;
    color: #916c38;
    font-weight: 200;
}

.horizontal-timeline > nav {
    border-top: 1px solid #0D2A4A;
    display: block;
    text-align: center;
    margin: auto 0;
  
}

.evolution-title {
    text-align: center;
}

ol.horizontal-timeline li {
    width: 265px;
    height: 265px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 120px;
    padding: 0 40px;
    border-bottom: 2px solid #ab8f61;
}



ol.horizontal-timeline li img {
    width: 100%;
}

ol.horizontal-timeline li span {
    font-size: 12px;
    color: #69593f;
    font-family: arial;
    display: block;
    text-align: center;
    width: 180px;
    margin: auto;
    padding-right: 25px;
}



ol.horizontal-timeline li {
    position: relative;
}

ol.horizontal-timeline li:first-child::before {
    content: "";
    position: absolute;
    background-color: #ab8f61;
    width: 18px;
    height: 18px;
    display: block;
    bottom: -10px;
    left: -6px;
    border-radius: 18px;

}

ol.horizontal-timeline li:last-child::after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    display: block;
    bottom: -12px;
    right: -5px;
    border: 10px solid transparent;
    border-right: 0;
    border-left: 23px solid #ab8f61;
    border-radius: 3px;
}

ol.horizontal-timeline li:hover {
    cursor: pointer;
}


/* ---- Hover effects ---- */ 

ol.horizontal-timeline li p {
    display: block;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    color: #69593f;
    width: 265px;
    top: 255px;
    padding: 15px;
    padding-bottom: 25px;
    z-index: 1;
    box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.4);
    font: 12px arial;
    background: #f5f2ee;
    text-align: justify;
}

ol.horizontal-timeline li:hover p {
    opacity: 1;
    height: auto;
}

/*.......................footer........................*/


footer {
position: relative;
height: auto;
width: 100%;
background: #c7b595;
}

.outer {
    padding: 12px 0;
}
footer .wrap {
    margin: 0 auto;
    white-space: nowrap;
    font-size: 0;
}
footer .wrap .sub {
    position: relative;
    display: inline-block;
    color: white;
    width: 20%;
    padding: 27px 10px;
    border-right: 1px solid #e9e4db;
    font-size: 14px;
    text-align: center;
    box-sizing: border-box;
    vertical-align: top;
}

footer .wrap .sub:last-child {
    border: 0px;
}

#logo {
    width: 100px;
}

#github-icon {
    padding-bottom: 8px;
}


@media screen and (max-width: 1140px) {
    footer .wrap {
        white-space: normal;
    }

    footer .wrap .sub {
          width: 33%;
    }
}

@media screen and (max-width: 520px)  {

    ol.horizontal-timeline li {
        padding: 0;
    }
    
    ol.horizontal-timeline li p {
        width: auto;
        
    }
      
    footer .wrap .sub {
         width: 100%;
         border: none;

    }   
    
    footer .wrap .sub::after {
        content: "";
        width: 50%;
        height: 1px;
        background-color: #e9e4db;
        display: block;
        margin: auto;
        position: relative;
        top: 27px;
    }

    footer .wrap .sub:last-child::after, footer .wrap .sub:first-child::after{
        height: 0;
    }
    
    section {
        padding-top: 0;
        padding-bottom: 10px;
    }
    
    .intro {
        font-size: 20px;
    }
    
  }


  @media screen and (max-width: 746px)  {
      
    ol.horizontal-timeline {
        margin: 0;
        padding: 0;
    }

    ol.horizontal-timeline li {
         text-align: center;
    }   

    .evolution {
        text-align: center;
    }

    .item-2, .item-1  {
        width: 100%;
  }
}

